.cards__container {
    min-width: 8rem;
    margin: 2px 2px; 
    padding-top: 20px; 
}
.card__ind {
    width: 15rem
}

.card__ind card{
    min-width: 16%;    
}

.card__div-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://wallpapercave.com/wp/wp1902719.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  ul {
    list-style-image: url('../../img/right-arrow.png');
  }

  li {

  }

@media only screen and (max-width: 600px) {
 .card__ind{
    width: 8rem;
    margin: 5px 5px
 }   
}